<!DOCTYPE html>
<html>
<head>
  <title>Sinatra Cache</title>
</head>

<body>
  <p>This is a simple app to test and see if your front-end cache is working as expected.</p>
  <p><%= @now %></p>
</body>
</html>
